{header:header.html}
<nav class="New-nav">
  <a class=""  href="{首页}">หน้าหลัก</a>
  <a class=""  href="{小说排行首页}">อันดับ</a>
  <a class="active"  href="{小说首页}">หมวดหมู่</a>
  <a class=""  href="{我的收藏}">ชั้นหนังสือ</a>
  <a class=""  href="{签到中心}">เข้าสู่ระบบ</a>
</nav>
<div class="all_title down-top0">
<span style="">หมวดหมู่นิยาย</span></div>

<div class="new-fenlei_list">
{小说分类:数量=20}
<div {i:1}class="lf_left"{/i}{i:2}class="lf_right"{/i}{i:3}class="lf_left"{/i}{i:4}class="lf_right"{/i}{i:5}class="lf_left"{/i}{i:6}class="lf_right"{/i}{i:7}class="lf_left"{/i}{i:8}class="lf_right"{/i}{i:9}class="lf_left"{/i}{i:10}class="lf_right"{/i}{i:11}class="lf_left"{/i}{i:12}class="lf_right"{/i}{i:13}class="lf_left"{/i}{i:14}class="lf_right"{/i}{i:15}class="lf_left"{/i}{i:16}class="lf_right"{/i}{i:17}class="lf_left"{/i}{i:18}class="lf_right"{/i}{i:19}class="lf_left"{/i}{i:20}class="lf_right"{/i}  onclick="location.href='{url}'">
{小说分类名字}</div>{i:2}</div><div class="new-fenlei_list">{/i}{i:4}</div><div class="new-fenlei_list">{/i}{i:6}</div><div class="new-fenlei_list">{/i}{i:8}</div><div class="new-fenlei_list">{/i}{i:10}</div><div class="new-fenlei_list">{/i}{i:12}</div><div class="new-fenlei_list">{/i}{i:14}</div><div class="new-fenlei_list">{/i}{i:16}</div><div class="new-fenlei_list">{/i}{i:18}</div><div class="new-fenlei_list">{/i}{i:20}</div><div class="new-fenlei_list">{/i}
{/小说分类}
</div>

<div class="_advert_show"  data-plugid="394" data-typeid="0" data-step="0" ></div>
<div class="baby_list_tie">
 นิยายมาใหม่</div>
<div class="Ranking-nr" >
{小说:数量=5;排序=最新入库}
<div class="book-pic-list">
<div class="al" onclick="location.href='{url}'">
<div class="img">
<img  src="{小说封面}" alt="{小说名字}" /></div>
<div class="conter">
<div class="name"><span>[{小说分类简称}]</span> {小说名字}</div>
<div class="new-Author">{小说作者}</div>
<div class="infor-name">{小说简介:50}...</div></div></div>
<div class="quickly-read" onclick="location.href='{url}'">อ่านเลย</div></div>
<div class="bg_witer"><hr align="center" size="1" color="#efefef" class="fenge"></div>
{/小说}
</div>

<div class="btBox"><div class="bt2"><a href="javascript:history.go(-1);">ย้อนกลับ</a><a href="{首页}">หน้าหลัก</a></div></div>
{footer:footer.html}