{header:header.html}
<nav class="New-nav">
  <a class=""  href="{首页}">หน้าหลัก</a>
  <a class=""  href="{小说排行首页}">อันดับ</a>
  <a class=""  href="{小说首页}">หมวดหมู่</a>
  <a class=""  href="{我的收藏}">ชั้นหนังสือ</a>
  <a class=""  href="{签到中心}">เข้าสู่ระบบ</a>
</nav>
<div class="girl_list_tie">
 <a href="/module/novel/info.php?pt={pt}&tid={分类id}&nid={id}">{名字}</a> > สารบัญ</div>
<div class="mulu_lists">
{小说章节列表:数量=50;排序=章节顺序}
{无数据}<div class="list_main book_list "><font>ยังไม่ได้เริ่มแต่งเลย!</font></div>{/无数据}
<div class="list_main book_list "  onclick="location.href='{url}'">
	<font>บทที่ {i} : {小说章节名字}</font>
</div>
{/小说章节列表}
</div>
<div class="btBox">
<div class="bt2">
<a href="{上一页}">ก่อนหน้า</a>
<a href="{下一页}">ถัดไป</a>
</div></div>
<div class="showpage">จาก {当前页}/{总页数} หน้า ทั้งหมด {总数据} บท </div>
<div class="btBox"><div class="bt2"><a href="javascript:history.go(-1);">ก่อนหน้า</a><a href="{首页}">หน้าหลัก</a></div></div>

{footer:footer.html}