{header:header.html}
<nav class="New-nav">
  <a class=""  href="{首页}">หน้าหลัก</a>
  <a class=""  href="{小说排行首页}">อันดับ</a>
  <a class="active"  href="{小说首页}">หมวดหมู่</a>
  <a class=""  href="{我的收藏}">ชั้นหนังสือ</a>
  <a class=""  href="{签到中心}">เข้าสู่ระบบ</a>
</nav>
<div class="girl_list_tie">
 <a href="{全部小说}">หมวดหมู่</a> > {分类名字}</div>
{小说列表:数量=10}
 <div class="book-pic-list">
 <div class="al"  onclick="location.href='{url}'">
 <div class="img"><img src="{小说封面}" alt="{小说名字}"/></div>
 <div class="conter">
 <div class="name"><span>[{小说分类简称}]</span> {小说名字}</div>
 <div class="new-Author">{小说作者}</div>
 <div class="infor-name">{小说简介:50}...</div></div></div>
 <div class="quickly-read"  onclick="location.href='{url}'">อ่านเลย</div></div>
 <div class="bg_witer"><hr align="center" size="1" color="#efefef" class="fenge"></div>
{/小说列表}

<div class="btBox">
<div class="bt2">
<a href="{上一页}">ก่อนหน้า</a>
<a href="{下一页}">ถัดไป</a>
</div></div>
<div class="showpage">จาก {当前页}/{总页数} หน้า ทั้งหมด {总数据} รายการ </div>
<div class="btBox"><div class="bt2"><a href="javascript:history.go(-1);">ย้อนกลับ</a><a href="{首页}">หน้าหลัก</a></div></div>

{footer:footer.html}