<ul id="upfile" class="upfile"></ul>
<div id="upbox" class="upbox">
	<input type="button" id="upload_button" class="upload_button" value="อัปโหลดไฟล์แนบ"/>
	<input type="file" id="hide_button" class="hide_button" name="hide_button"/>
</div>