<div id="bbs_manager" class="bbs_manager">
	<div id="bbs_update" class="bbs_update">ดำเนินการโพสต์:<a href="{修改帖子}">แก้ไข</a> . <a href="{删除帖子}">ลบ</a></div>
	{版主操作}
		<div id="bbs_attr" class="bbs_attr">
		การจัดการ:<a href="{审核帖子}">{审核帖子标题}</a> . <a href="{推荐帖子}">{推荐帖子标题}</a> . <a href="{设为精华}">{设为精华标题}</a> . <a href="{全局置顶}">{全局置顶标题}</a> . <a href="{分类置顶}">{分类置顶标题}</a> . <a href="{当前置顶}">{当前置顶标题}</a>
		</div>
	{/版主操作}
</div>