<div id="headbox" class="headbox">
	<img src="{用户头像}" id="head" class="head">
</div>
<div id="upbox" class="upbox">
	<input type="button" id="save_button" class="save_button" value="จัดเก็บ">
	<input type="button" id="upload_button" class="upload_button" value="อัปโหลด"/>
	<input type="file" id="hide_button" class="hide_button" name="hide_button"/>
</div>