{header:header.html}
{重定向}
<style>
/*内容*/
 .content1 {
    text-align:center;
    padding: 15px 0px 10px;
    font-size: 18px;
	font-weight:bold;
    color: #666;
    word-wrap: break-word;
}
</style>
<div class="content1">{errinfo}</div>
<div class="btBox">
<div class="bt1">{html}</div>
</div>
<div class="btBox">
<div class="bt2"><a href="javascript:history.go(-1);">ย้อนกลับ</a><a href="{首页}">หน้าหลัก</a></div>
</div>

{footer:footer.html}